<div class="container">
  <div *ngFor="let b of books">
    <div *ngIf="b.id===id">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb" style="background-color: transparent;padding: 0;">
          <li class="breadcrumb-item"><a routerLink=""><mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon></a></li>
          <li class="breadcrumb-item"><a routerLink="/{{b.categoria}}">{{b.categoria}}</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{b.titulo}}</li>
        </ol>
      </nav>
      <mat-card class="example-card">
        <div class="first-container">
          <img mat-card-image src="{{b.imageUrl}}" alt="Photo of book {{b.titulo}}">
        </div>
        <div class="second-container">
          <mat-card-header>
            <mat-card-title style="font-size: 16px;">{{b.titulo}}</mat-card-title>
            <mat-card-subtitle style="margin-bottom: 30px;">{{b.autor}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p style="font-weight: bold;font-size: 24px;margin-bottom: 15px;" [innerHTML]="b.preco.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'}) ">
            </p>
          </mat-card-content>
          <mat-card-actions  style="text-align: center;margin-bottom: 0;padding: 0;">
            <button mat-raised-button color="warn" style="font-size: 16px;width: 200px;" (click)="IncrementaCart(b.id)">COMPRAR</button>
          </mat-card-actions>
        </div>
      </mat-card>
    </div>
  </div>
</div>
