<div class="navbar">
  <div class="first-container">
    <div class="logo">
      <a routerLink="">
        <img src="https://freesvg.org/img/1488216538.png" alt="logo">
        <p>BOOKSTORE</p>
      </a>
    </div>
    <div class="form">
      <input (keyup.enter)="bookSearch()" type="text" placeholder="Buscar livro ou autor preferido" #search>
      <button (click)= "bookSearch()"><span class="material-icons">search</span></button>
    </div>
  </div>
  <div class="second-container">
    <div class="cart">
      <button type="button" class="btn btn-link" data-toggle="modal" data-target="#exampleModal" id="cart" (click)="getBookListCart()">
        <span matBadge="{{number}}" matBadgeOverlap="false" matBadgeColor="warn"><span class="material-icons">shopping_cart</span></span>
      </button>
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Carrinho de Compras</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <mat-list>
                <div *ngIf="booklist.length==0"><div mat-line style="text-align: center;">Carrinho Vazio</div></div>
                <mat-list-item *ngFor="let bl of booklist">
                  <div mat-line>{{bl.titulo}}</div>
                  <div mat-line [innerHTML]="bl.preco.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'}) "></div>
                  <button mat-icon-button color="warn" data-toggle="tooltip" data-placement="top" title="Remover do Carrinho" aria-label="icon-button with a delete icon" (click)="deleteItemList(bl.id)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </mat-list-item>
              </mat-list>
              <mat-divider></mat-divider>
              <div class="d-flex justify-content-end">
                <p class="mb-1" [innerHTML]="'Total: '+total.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'})"></p>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Voltar</button>
              <button type="button" class="btn btn-warning">Fechar Compra</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="side-menu">
  <button mat-button [matMenuTriggerFor]="menu" id="btnmenu">CATEGORIAS<span class="material-icons">keyboard_arrow_down</span></button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item><a routerLink="/autoajuda">Autoajuda</a></button>
    <button mat-menu-item><a routerLink="/didatico">Didático</a></button>
    <button mat-menu-item><a routerLink="/infantojuvenil">Infantojuvenil</a></button>
    <button mat-menu-item><a routerLink="/informatica">Informática</a></button>
    <button mat-menu-item><a routerLink="/romance">Romance</a></button>
    <button mat-menu-item><a routerLink="/terror">Terror</a></button>
  </mat-menu>
</div>
<router-outlet></router-outlet>
<app-footer></app-footer>
