<button mat-button [matMenuTriggerFor]="menu" id="btnmenu">CATEGORIAS<span class="material-icons">keyboard_arrow_down</span></button>
<mat-menu #menu="matMenu" id="btnoptions">
  <button mat-menu-item><a routerLink="/autoajuda">Autoajuda</a></button>
  <button mat-menu-item><a routerLink="/didatico">Didático</a></button>
  <button mat-menu-item><a routerLink="/infantojuvenil">Infantojuvenil</a></button>
  <button mat-menu-item><a routerLink="/informatica">Informática</a></button>
  <button mat-menu-item><a routerLink="/romance">Romance</a></button>
  <button mat-menu-item><a routerLink="/terror">Terror</a></button>
</mat-menu>
