button, a{
  color:#B9B9B9;
  font-weight: bold;
  outline: 0;
  text-decoration: none;
}

#btnmenu{
  width: 177px;
  height: 40px;
  font-size: 14px;
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}


